<h1>My events</h1>
Calendar url: <br>
<%= calendar_feed_url(token: @user.token,format: :ics) %>
<br>
<br>
How To use this link:</br>
<ul>
  <li>
    <a href="https://support.google.com/calendar/answer/37118?hl=en">Gmail</a></li>
  <li>
    <a href="https://support.apple.com/en-us/HT202361">Apple/iOS</a>
  </li>
  <li>
    <a href="https://www.calendarwiz.com/knowledgebase/entry/71/">Windows/Outlook</a>
  </li>
  <li>
    <a href="https://android.stackexchange.com/questions/61095/how-can-you-sync-a-calender-with-an-ical-link">Android</a>
  </li>
</ul>
